.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.particles {
  z-index: -5;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(48, 16, 255, 1) 0%, rgba(100, 115, 255, 1) 100%);
}
.note-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.note-form {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.note-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.note-title {
  margin-left: 42%;
}

.note-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.note-input::placeholder {
  color: #e2e2e2;
}

.note-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
  color: #fff;
  text-transform: capitalize;
}

.note-input.edit {
  border: 2px solid #149fff;
}

.note-button.edit {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.note-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.note-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.note-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}

.note-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}

.note-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.content {
  z-index: -1000;
}

.tweet-form {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 1rem;
}

/* @import "~antd/dist/antd.css"; */

/* import 'antd/dist/antd.css'; */
.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background: linear-gradient(90deg, rgb(169, 163, 205) 0%, rgb(102, 103, 116) 100%);
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.tweet-form {
  margin-bottom: 32px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

/* .note-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(157, 145, 183) 0%,
    rgb(154, 144, 160) 100%
  );
  color: #fff;
  text-transform: capitalize;
} */

.note-input.edit {
  border: 2px solid #149fff;
}

.note-button.edit {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.tweets-list-container {
  margin: 32px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.content {
  z-index: -1000;
}

.particles {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.drop-zone {
  background: rgba(1, 1, 1, 0.5);
  border: #282c34;
  width: 50%;
  height: 50%;
  margin-top: 8rem;
  margin-bottom: 8rem;
  margin-left: 32rem;
}

.zone-title {
  display: flex;
}

.todo-form {
  margin-bottom: 32px;
}

.tweet-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #212123;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.tweet-input::placeholder {
  color: #e2e2e2;
}

.tweet-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgb(15, 15, 16) 0%, rgb(94, 93, 95) 100%);
  color: rgb(235, 216, 216);
  text-transform: capitalize;
}
