.message-input {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__save {
    margin-left: 10px;
    justify-content: center;
  }
}
