.tab-bar {
  .ant-tabs-nav {
    margin: -3px;
  }

  .ant-tabs-nav-wrap {
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 80%;
    margin: 10px;
    justify-content: center;
    color: white;
  }
  .ant-tabs-nav-container {
    margin-bottom: -15px;
  }
}

.particles {
  z-index: -5;
  background-color: rgba(51, 51, 51, 20.42);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}