.tab-bar {
  .ant-tabs-nav {
    margin: 2px;
  }
  .ant-tabs-nav-wrap {
    display: flex;
    flex-direction: row;
    height: 8%;
    width: 80%;
    margin: 10px;
    justify-content: center;
  }
}
