.edit-modal {
  opacity:0.8;
  .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-modal-close-x {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-tag {
    background-color: transparent;
  }
}
.particles {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}
