.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  &__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 150px;
      padding-left: 40px;
      z-index: 20;
    }
  }
  &__right {
    margin: 20px;
  }
}
.darken {
  color: white;
}
